{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-7">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">name</th>
            <th scope="col">brand name</th>
            <th scope="col">price</th>
          </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td><a href="{% url 'products:detail' slug=product.slug %}"> {{ product.title }} </a></td>
                <td>{{ product.brand_name }}</td>
                <td>{{ product.price }}</td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-3">
      <h5>brands</h5>
      <form action="{% url 'products:filter-view' %}" method="POST">
      {% csrf_token %}
      {% for product in products %}
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="{{ product.brand_name }}" name="selected_brand_name" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
            {{ product.brand_name }}
          </label>
        </div>
      {% endfor %}
      <h5>categories</h5>
      {% for category in categories %}
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="{{ category.name }}" name="selected_category" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
            {{ category.name }}
          </label>
        </div>
      {% endfor %}
      <button type="submit">Filter</button>
    </form>
    </div>
    <div class="col-3">
      <a href="{% url 'products:sort-filter' 'price' %}">Exepensive</a>
    </br>
      <a href="{% url 'products:sort-filter' '-price' %}">Cheap</a>
    </div>
  </div>
</div>
{% endblock %}